

body  { 
	font-family: 'Roboto', sans-serif;
	color:#fff;
	 }

.container-fluid{
	width:100%;
}


.container{
	width:1170px;
	margin:auto;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.nav-top{
width:1170px;
height:60px;
margin:auto;
vertical-align: middle;
padding-top:20px;
padding-bottom:20px;
/*text-align: center;*/
display: flex;
}

.logo{
width:152px;
vertical-align: middle;
/*float:left;*/
}

.top-nav-menu{
	display: inline-block;
	margin:auto;

	vertical-align: middle;
	padding-right:0;
}

.top-nav-menu ul {
	display: flex;
	color:#3E59A6;
	text-transform: uppercase;
}

.top-nav-menu.top-nav {
	padding-left:15px;
	padding-right: 15px;
	font-size:24px;

}

.top-nav-menu.top-nav ul li {
	padding-left:15px;
	padding-right: 15px;
	font-size:24px;
}


.top-nav-menu.top-nav-social {
		margin-right:0;
}

.top-nav-menu.top-nav-social ul li {
	padding-left:18px;
	padding-right: 18px;
	font-size:30px;
	border-right:1px solid #3E59A6;
}


.top-nav-menu.top-nav-social ul li:last-child {
	
	border-right:none;
	font-size:40px;
}

.top-nav-menu.top-nav-social ul li:last-child a{
	color:#EE4036;
	font-size:40px;
}



/*slider */
.slider{
	background: #E6E6E6;
	padding-top:30px;
	padding-bottom:30px;
}

.slider .slider-img{
	margin:auto;
	width:1170px;
	position: relative;
	font-size:30px;
	text-transform: uppercase;
}


.slider-left-text{
position: absolute;
left:30px;
bottom:20px;

}

.slider-left-text div{
margin-top:3px;
padding-top:4px;
padding-bottom: 7px;
background: #E6E6E6;
width:100%;
}
.slider-right-text{
	right:30px;
	position: absolute;
	bottom:20px;
	background: #E6E6E6;
	padding-top:4px;
	padding-bottom: 7px;
}

/*video section*/

.video-section{
	background: #363E97;
	height:100%;
	padding-bottom:90px;
}

.video-section > .container > h2{
	text-transform: uppercase;
	padding:35px 0;
}

.video-section > .container > h2 > span{
	text-transform: lowercase;
}

.video-box{
	width:570px;
	height:320px;
	background: #F2F2F2;
}

.video-box.left{
	float:left;
}

.video-box.right{
	float:right;
}

.video-box-text{
	text-align: center;
	color:#000;
	vertical-align: middle;
	line-height: 320px;
}

/*featured media */
.container-fluid.media{
	background: #E6E6E6;
}

.featured-media > h2{
	color:#000;
	text-transform: uppercase;
	padding:35px 0;
}

.featured-media > h2 > span{
	text-transform: lowercase;
}

.media-box{
	margin:0 15px;
}
.media-box:first-of-type{
	margin-left:0;
}

.media-box:last-child{
	margin-right:0;
}


.media-box.left{
float:left;
}


body  { 
	font-family: 'Roboto', sans-serif;
	color:#fff;
	 }

.container-fluid{
	width:100%;
}


.container{
	width:1170px;
	margin:auto;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.nav-top{
width:1170px;
height:60px;
margin:auto;
vertical-align: middle;
padding-top:20px;
padding-bottom:20px;
/*text-align: center;*/
display: flex;
}

.logo{
width:152px;
vertical-align: middle;
/*float:left;*/
}

.top-nav-menu{
	display: inline-block;
	margin:auto;

	vertical-align: middle;
	padding-right:0;
}

.top-nav-menu ul {
	display: flex;
	color:#3E59A6;
	text-transform: uppercase;
}

.top-nav-menu.top-nav {
	padding-left:15px;
	padding-right: 15px;
	font-size:24px;

}

.top-nav-menu.top-nav ul li {
	padding-left:15px;
	padding-right: 15px;
	font-size:24px;
}


.top-nav-menu.top-nav-social {
		margin-right:0;
}

.top-nav-menu.top-nav-social ul li {
	padding-left:18px;
	padding-right: 18px;
	font-size:30px;
	border-right:1px solid #3E59A6;
	height:30px;
}


.top-nav-menu.top-nav-social ul li:last-child {
	border-right:none;
	padding-right:0;
}

.top-nav-menu.top-nav-social ul li:last-child a{
	color:#EE4036;
	font-size:40px;
}



/*slider */
.slider{
	background: #E6E6E6;
	padding-top:30px;
	padding-bottom:30px;
}

.slider .slider-img{
	margin:auto;
	width:1170px;
	position: relative;
	font-size:30px;
	text-transform: uppercase;
}


.slider-left-text{
position: absolute;
left:30px;
bottom:20px;

}

.slider-left-text li{
padding-top:4px;
padding-bottom: 7px;


}

.slider-left-text li span{
background: #E6E6E6;
padding-right:5px;
}


.slider-right-text{
	right:30px;
	position: absolute;
	bottom:20px;

	
}

.slider-right-text li{
	padding-top:4px;
	padding-bottom: 7px;
}
.slider-right-text li span{
		background: #E6E6E6;
}


/*video section*/

.video-section{
	background: #363E97;
	height:100%;
	padding-bottom:90px;
}

.video-section > .container > h2{
	text-transform: uppercase;
	padding:35px 0;
}

.video-section > .container > h2 > span{
	text-transform: lowercase;
}

.video-box{
	width:570px;
	height:320px;
	background: #F2F2F2;
}

.video-box.left{
	float:left;
}

.video-box.right{
	float:right;
}

.video-box-text{
	text-align: center;
	color:#000;
	vertical-align: middle;
	line-height: 320px;
}

/*featured media */
.container-fluid.media{
	background: #E6E6E6;
}

.featured-media > h2{
	color:#000;
	text-transform: uppercase;
	padding:35px 0;
}

.featured-media > h2 > span{
	text-transform: lowercase;
}

.media-box{
	margin:0 15px;
}
.media-box:first-of-type{
	margin-left:0;
}

.media-box:last-child{
	margin-right:0;
}


.media-box.left{
float:left;
}

